@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section>
    <div class="bg-image">


    </div>
</section>

<section>
    <div class="container py-5" id="featured-3">
        <h2 class="pb-2 border-bottom font-weight-bold">What Can Notfii Do For You?</h2>
        <div class="row g-5 py-5">
            <div class="feature col-md-4">
                <div class="feature-icon bg-dark bg-gradient">

                    <i class="far fa-calendar-plus"></i>
                </div>
                <h2 class="featureslist">Create</h2>
                <p>Create reminders to stay on top of your daily or future tasks easily and accurately.</p>



            </div>

            <div class="feature col-md-4">
                <div class="feature-icon bg-dark bg-gradient">
                    <i class="fas fa-sitemap"></i>
                </div>
                <h2 class="featureslist">Organize</h2>
                <p>Organize your hectic schedule, whether it be school, work or other activites Notfii got you covered!</p>



            </div>

            <div class="feature col-md-4">
                <div class="feature-icon bg-dark bg-gradient">
                    <i class="fab fa-less"></i>
                </div>
                <h2 class="featureslist">Worry Less</h2>
                <p>Notfii's user friendly design makes setting up reminders easy and allows you to go throughout your day worry free.</p>



            </div>
        </div>
    </div>
</section>

<section>
    <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-5 border shadow-lg">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <h1 class="display-4 fw-bold lh-1 font-weight-bold">Get Started Today!</h1>
                <p class="lead">Wondering how to get started? Sign up for our website and text the phone number that you are assigned, it's that easy!</p>
                <a class="btn btn-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">



                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0 position-relative overflow-hidden shadow-lg">
                <div class="position-lg-absolute top-0 left-0 overflow-hidden">
                    <img class="d-block rounded-lg-3" src="bootstrap-docs.png" alt="" width="720">
                </div>
            </div>
        </div>
    </div>

</section>
